<modal :show.sync="show" :saving="saving" :loading="loading" class="modal-small">
    <template slot="header">{{ translate('cp.choose_page_type') }}</template>

    <template slot="body">
        <ul class="chooser">
        <li v-for="fieldset in fieldsets">
            <a href='' @click.prevent="create(fieldset.value)">{{ fieldset.text }}</a>
        </li>
        </ul>
    </template>

    <template slot="footer">
        <div class="pull-left">{{ translate('cp.parent_page') }}: <code>{{ parent }}</code></div>
        <button type="button" class="btn" @click="cancel">{{ translate('cp.cancel') }}</button>
    </template>
</modal>
