<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ meta_title or title or "Rainforest. Make it rain." }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!--[if lte IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    {{ theme:css tag="true" }}
</head>
<body class="{{ segment_1 or "home" }}">

    {{ template_content }}

</body>
</html>
